body {
	margin: 0;
	padding: 0;
}

#content {
	width: 100%;
	background-image: url(images/desk.jpg), url(images/phone.jpg);
	background-repeat: no-repeat;
 	background-size: cover;
	height: 100%;
	border: 1px solid #bfbfbf;
    box-sizing: border-box;
}


/* TOP PAGE*/
header {
	background-color: white;
	opacity: 0.91;
	width: 50%;
	height: 270px;
	margin:0 auto;
	box-sizing: border-box;
}

header > img {
	margin: 5% 22%;
	width: 55%;
}

#tile_text {
	margin: 100px 0 50px 0;
}

.tile_text_field1 {
	font-size: 40px;
	color: rgb(0, 51, 102);
	text-align: center;
	padding: 13%;
}

.tile_text_field2 {
	font-size: 40px;
	color: rgb(0, 51, 102);
	text-align: center;
	padding: 25%;
}

#description {
	margin: 80px 80px;
}

.text_description {
	font-size: 27px;
	color: rgb(0, 51, 102);
	padding: 19px;
}
.text_description > strong {
	display: block;
}

#main_page {
	background-color: white;
	opacity: 0.80;
	width: 50%;
	height: 100%;
	margin: 0 auto;
	padding: 1.875em;
	box-sizing: border-box;
	overflow: auto;
}

#input_field {
	background-color: #e6e6e6;
	width: 90%;
	height: auto;
	margin: 0 auto;
	padding: 30px;
	box-sizing: border-box;
	overflow: auto;
}

#name_field {
	margin:50px 0 0 0;
}

.companyname {
	font-weight: bold;
	font-size: 20px;
	margin: 0 8px;
	padding: 0px;
}

.email, .password {
	display: block;
	font-weight: bold;
	font-size: 20px;
	margin: 0 8px;
	padding: 0px;
}

[type="email"], [type="text"] {
	width: 50%;
	height: 20px;
	display: block;
	padding: 3px;
	margin:6px;
}


 /* PRICING */
#clearfix {
	overflow: auto;
}

.buy_container {
    margin: 0 13px 80px 13px;
    padding: 5px 23px 5px 5px;
    border: 1px solid #ccc;
    border-radius: 10px;
    height: 450px;
    width: 27%;
    float: left;
    font-size: 20px;
    background-color: #e6f2ff;
    box-shadow: 10px 10px 5px #bfbfbf;
}

.package_price {
	font-size: 25px;
	font-weight: bold;
	text-align: center;
	margin: 30px 25px;
}

button {
	font-size: 20px;
	font-weight: bold;
	margin: 20px;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 10px;
	cursor: pointer;
	background-color: #4d83c3;
	box-shadow: 5px 5px 5px #bfbfbf;
	width: 150px;
}

a:link {
    text-decoration: none;
}

button:hover {
    background-color: #b3d9ff;
}

.button_buy {
	margin: 0px 25px 20px 25px;
}


 /*REGISTER */
}
#join_us_field {
	margin: 20px 0;
}

 #join_us_text {
 	color: black;
 	font-size: 25px;
 	font-weight: bold;
 }

.register {
	margin: 0 20px;
}

hr { 
    display: block;
    opacity: 0.3;
    margin: 0 0 10px 0;
    color: #f2f2f2;
}

.register_text, a {
	color:  white;
	margin: 5px;
}

#register2 {
	margin: 30px 0 110px 20px;
	padding: 0;
}

button {
	color: white;
}


/* APP */
.mobile_app_title {
	font-size: 30px;
	font-weight: bold;
	color: rgb(0, 51, 102);
	padding: 19px;
	margin: 50px 0 20px 0;
}


.mobile_app_text {
	font-size: 27px;
	color: rgb(0, 51, 102);
	padding: 19px;
	margin: 20px 0;
}

a > img {
	width: 20%;
	padding: 19px;
	margin: 0 0 50px 0;
}


/* FOOTER */
.footer {
    padding: 0.01%;
    text-align: center;
    color: #000033;
    font-size: 14px;
    background-color: white;
	opacity: 0.90;
	width: 50%;
	margin: 0 auto;
}